*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #1f2b3a;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

nav{
    z-index: 4;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    background: rgba(255, 255, 255, 0.76); 
    backdrop-filter: blur(12px);/* Blur kaca */
    -webkit-backdrop-filter: blur(12px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.76);
}

nav .nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container .logo h1{
    color: #1f2b3a;
    font-size: 1.1rem;
    white-space: nowrap; 
    margin-right: 200px;
    padding-top: 8px;
   
}

.nav-container .links a{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 20px;
    transition: 0.2s linear;
}

.nav-container .links a:hover{
    color: #ff521b;
}

nav svg{
    position: absolute;
    right: 20px;
    top: 15px;
    fill: #1f2b3a;
    cursor: pointer;
    display: none;
}

nav .dropdown{
    position: absolute; 
    top: 10vh; 
    background: rgba(255, 255, 255, 0.76);  
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    right: 0; 
    width: 200px; 
    height: auto; 
    padding: 10px 0; 
    transform: translateX(100%); 
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: 0.3s linear;
    border-bottom-left-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

nav .dropdown.active {
    transform: translateX(0); 
}

nav .dropdown a{
    color: rgb(0, 0, 0); 
    font-size: 1.1rem; 
    text-align: left;
    padding: 10px 15px;
    text-decoration: none;
    width: 100%;
    transition: 0.2s linear;
    font-weight: 600;
}

.dropdown a:hover{
    background-color: #ff521b; 
    color: white;
}
/* ================ HOME SECTION ================= */

section{
    width: 100%;
    padding: 30px 0;
}

section .content{
    width: 100%;
    max-width: 1300px;        
    margin: auto;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    padding: 0 50px;          
    margin-right: 75px;
}

.content .main-content{
    width: 50%;               
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 30px;
}

.main-content h1{
    font-size: 2.3rem;
    color: white;
}

.main-content span{
    font-size: 2rem;
    color:#ff521b;
    font-weight: 700;
}

.main-content p{
    font-size: 1.5rem;
    color: white;
    margin-top: 30px;
    text-align: justify;
    margin-bottom: 20px;
}

.main-content .buttons{
    width: auto;
    margin: 20px 0 0 0;
    height: 5.5vh;
}

.buttons button{
    cursor: pointer;
    width: 190px;
    height: 100%;
    border-radius: 20px;
    background-color: #ff521b;
    color: white;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 700;
    transition: 0.2s linear;
}

.buttons button:hover{
    box-shadow: 2px 2px 30px #ff521b;
}

.content .images{
    width: 40%;               
    display: flex;
    justify-content: flex-end;
    transform: translateY(-50px);
}

.images img{
    width: 380px;             
    margin-top: 0;
    filter: drop-shadow(0 0 20px #ff321b);
}

/* RESPONSIVE */
@media (max-width:768px){

  .links{
      display: none;
  }

  nav svg{
      display: block;
  }

  .content{
      display: flex !important;
      flex-direction: row !important;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      padding: 10px 25px !important; 
  }

  .content .main-content{
      width: 60% !important;
      text-align: left !important;
      align-items: flex-start !important;
      margin: 0 !important;
  }

  .content .main-content h1{
    text-align: left !important;
    font-size: 1.5rem;
     margin: 0 !important; 
  }

  .content .main-content span{
    text-align: left !important;
    font-size: 1.5rem;
  }
  .content .main-content p{
      text-align: left !important;
      font-size: 1rem;
      width: 100%;
  }

  .images{
      width: 50% !important;
      display: flex;
      justify-content: center;
      margin: 0;
      margin-left: -20px !important;
  }

  .images img{
      width: 200px !important;
  }


  /* Button ikut kiri 
  .buttons{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-top: 10px;
  } */

}

/* === DOWNLOAD CV BUTTON === */
.download-btn {
  display: inline-block;
  cursor: pointer;
  width: 190px;
  height: 45px;
  line-height: 45px;
  border-radius: 20px;
  background-color: #ff521b;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  transition: 0.2s linear;
  border: none;
}

.download-btn:hover {
  box-shadow: 2px 2px 30px #ff521b;
}

/* ========== ABOUT SECTION ========== */
.about-section {
  background-color: #1f2b3a;
  padding: 60px 20px;
}

.about-content {
  max-width: 1100px;
  margin: auto;
  padding: 40px;
  background: rgb(250, 250, 250);
  border-radius: 12px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.12);
}

.about-content h2 {
  font-size: 2.3rem;
  color: #ff521b;
  margin-bottom: 20px;
  font-weight: 700;
}

.about-content p {
  font-size: 1.1rem;
  color: #000000;
  line-height: 1.8;
  margin-bottom: 18px;
  text-align: center;
  opacity: 0.9;
}

/* RESPONSIVE ABOUT SECTION */

@media (max-width: 992px) {
  .about-content {
    max-width: 750px;
    padding: 35px;
  }
  .about-content h2 {
    font-size: 28px;
  }
  .about-content p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 50px 15px;
  }

  .about-content {
    max-width: 95%;
    padding: 30px 25px;
  }

  .about-content h2 {
    font-size: 26px;
  }

  .about-content p {
    text-align: justify;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .about-content {
    padding: 25px 18px;
  }
  .about-content h2 {
    font-size: 22px;
  }
  .about-content p {
    font-size: 14px;
  }
}


/* ===== PROJECTS SECTION ===== */

.projects-section {
  padding: 70px 5%;
  background: #1f2b3a;
  color: #fff;
}
.project-header {
  text-align: center;
  margin-bottom: 50px;
}

.project-header h2 {
  font-size: 2.8rem;
  color: #ff521b;
  font-weight: 700;
  margin-bottom: 10px;
}

.project-header p {
  font-size: 1.3rem;
  color: #ffffff;
  opacity: 0.85;
}
.project-card {
  display: flex;
  align-items: stretch;
  background: #253447;
  border: 1px solid rgba(255,255,255,0.12);
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 40px;
  transition: 0.3s ease;
}

.project-card.reverse {
  flex-direction: row-reverse;
}
.project-card:hover {
  transform: translateY(-6px);
  border-color: rgba(255,255,255,0.25);
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
}

/* Image */
.project-image {
  width: 60%;
  position: relative;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.project-image::after {
  content: "";
  position: absolute;
  opacity: 0;
  inset: 0;
  background: rgba(0,0,0,0.25);
}

/* Text section */
.project-info {
  width: 55%;
  padding: 50px;
}

.project-info h3 {
  font-size: 32px;
  margin-bottom: 8px;
}

.project-info h4 {
  opacity: 0.9;
  font-size: 20px;
  margin-bottom: 16px;
}

.project-info p {
  line-height: 1.5;
  text-align: left;
  opacity: 0.85;
  margin-bottom: 20px;
}

/* Button */
.btn-view {
  display: inline-block;
  padding: 12px 22px;
  background: #4cb1ff;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn-view:hover {
  background: #78caff;
}


/* Responsive Project */
@media (max-width: 900px) {
  .project-card,
  .project-card.reverse {
    flex-direction: column; 
  }
  
  .project-image {
    width: 100%; 
  }

  .project-info {
    width: 100%; 
    padding: 30px;
    text-align: center; 
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  .project-info h3{
    font-size: 1.3rem;
  }

  .project-info h4{
    font-size: 1.1rem;
    color: #ff521b;

  }
  .project-info p {
font-size: 0.8rem;
    text-align: center !important; 
  }
}

/* == Skills Section == */

.skills-section {
  text-align: center;
  padding: 30px 20px;
  background: #1f2b3a;
}

.skills-section .main-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: #ff521b;
}

.skills-box {
  background: rgb(250, 250, 250);;
  padding: 40px 30px;
  border-radius: 18px;
  max-width: 1150px;
  margin: auto;
  border: 1px solid rgba(255,255,255,0.15);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 25px rgba(0,0,0,0.25);
}

.skills-section .sub-title,
.soft-skills-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 35px;
  color: #000000;
}

.soft-skills-title {
  margin-top: 55px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 35px 10px; 
  justify-items: center;
  max-width: 1200px;
  margin: auto;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  transition: transform .3s ease-in-out;
}

.skill-item img:hover {
  transform: scale(1.14);
}

.skill-item p {
  margin-top: 5px;
  font-weight: 600;
  color: #000000;
}

/* Soft Skills */
.soft-skills {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.soft-skills span {
  background: #3d4751;
  color: #fff;
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 15px;
  transition: .3s ease;
}

.soft-skills span:hover {
  background: #29313a;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .skills-grid {
    gap: 25px;
  }
}

@media (max-width: 768px) {
  .skills-section .main-title {
    font-size: 32px;
    margin-top: 30px;
  }

  .skills-section .sub-title,
  .soft-skills-title {
    font-size: 2.8rem;
  }

  .skills-grid {
      grid-template-columns: repeat(4, 1fr); 
      gap: 20px;
  }


  .skill-item img {
    width: 55px;
    height: 55px;
  }

  .soft-skills span {
    padding: 10px 18px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .skills-section {
    padding: 50px 15px;
  }

  .skills-section .main-title {
    font-size: 2.8rem;
    margin-top: -2px;
  }

  .skills-section .sub-title,
  .soft-skills-title {
    font-size: 20px;
  }
  
  .skills-grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

  .skill-item img {
    width: 45px;
    height: 45px;
  }


  .soft-skills span {
    padding: 8px 16px;
    font-size: 13px;
  }
}

/* Contact Section */
.contact-section {
  text-align: center;
  padding: 90px 0;
  background: #1f2b3a;;
}

.contact-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #ff521b;
}

.contact-text {
  font-size: 17px;
  opacity: 0.8;
  margin-bottom: 35px;
  color: #ffffff;
}

/* ICON CONTAINER */
.contact-icons {
  display: flex;
  justify-content: center;
  gap: 45px;
}

/* ICON ITEM */
.contact-item {
  text-align: center;
  transition: 0.3s ease-in-out;
}

/* ICON IMG */
.contact-item img {
  width: 55px;
  height: 55px;
  filter: grayscale(1);
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.8;
}

/* TEXT UNDER ICON */
.contact-item span {
  display: block;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0;
  color: #fff;
  transform: translateY(6px);
  transition: 0.3s ease-in-out;
}

/* HOVER EFFECT */
.contact-item:hover img {
  transform: scale(1.15);
  filter: grayscale(0);
  opacity: 1;
}

.contact-item:hover span {
  opacity: 1;
  transform: translateY(0px);
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .contact-title {
    font-size: 2.8rem;
  }

  .contact-icons {
    gap: 28px;
  }

  .contact-item img {
    width: 45px;
    height: 45px;
  }

  .contact-item span {
    font-size: 13px;
  }
}

/* ---FOOTER--- */
.footer {
  background: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur(12px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 25px 18px;
  text-align: center;
  margin-top: 60px;
  height: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;     
  flex-wrap: wrap;
  gap: 15px;
}

.footer-left, .footer-social {
  display: flex;
  flex-direction: column; 
  align-items: center;    
}

.footer-left h3 {
  color: #ff521b;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.footer-left p {
  color: #1f2b3a;
  font-size: 14px;
  text-align: center; 
}


.footer-social a:hover {
  transform: scale(1.25);
  color: #ff521b;
}

.footer-copy {
  margin-top: 12px;
  font-size: 13px;
  opacity: 0.7;
  color: #1f2b3a;
  text-align: center; 
  
}
/* ---FOOTER--- */
.footer {
  background: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur(12px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 25px 18px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 15px;
}

.footer-left {
  text-align: center;
}

.footer-left h3 {
  color: #ff521b;
  font-size: 30px;
  margin-top: 10px;
}

.footer-left p {
  color: #1f2b3a;
  font-size: 14px;
}

/* Contact Icons khusus footer */
.footer-contact-icons {
  display: flex;
  justify-content: center;
  gap: 3px;
  flex-wrap: wrap;
  margin:  20px 0 0 0;
}

.footer-contact-icons .contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #1f2b3a;
  font-size: 12px;
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.footer-contact-icons .contact-item:hover {
  transform: translateY(-5px);
  background-color: #1f2b3a;
  color: #ffffff;
}

.footer-contact-icons .contact-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  transition: transform 0.3s, filter 0.3s;
}

.footer-contact-icons .contact-item:hover img {
  transform: scale(1.2);
  filter: brightness(0) invert(1);
}

.footer-contact-icons .contact-item span {
  text-align: center;
}

.footer-copy {
  font-size: 13px;
  color: #1f2b3a;
  text-align: center;
  margin-top: 0;
  padding-top: -5px;
}

/* Responsive */
@media (max-width: 600px) {
  .footer-left h3 {
    font-size: 1.5rem;
  }
  .footer-contact-icons .contact-item img {
    width: 25px;
    height: 25px;
  }
  .footer-contact-icons .contact-item span {
    font-size: 11px;
  }
}


